body{
	margin: 0;
}

.app-header{
	background-color: #000099;
	height: 10%;
	width: 100%;
}

.app-header-name{
	color: #FFFFFF;
	display: inline-block;
	font-family: 'Archivo Black', sans-serif;
	left: 2%;
	position: absolute;
	top: 3%;
}